@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Play:wght@400;700&family=Poppins:wght@400;500&display=swap');


/* General Reset */
html, body {
    height: 100%;
    margin: 0;
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Poppins', sans-serif;
}

p, li, a, span ,label, button{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}



/* Container */
.auth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 24px;
}

/* Logo Section */
.auth-container .auth-logo {
    text-align: center;
    margin-bottom: 20px;
}

.auth-container .auth-logo .auth-logo-img {
    height: 40px;
    width: auto;
}

.auth-container .auth-logo .auth-title {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    margin-top: 10px;
}

/* Form Container */
.auth-container .auth-form-container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}

.auth-container .auth-form-container .auth-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* Form Group */
.auth-container .auth-form-container .auth-form .form-group {
    display: flex;
    flex-direction: column;
}

.auth-container .auth-form-container .auth-form .form-group .form-label {
    font-size: 14px;
    font-weight: 500;
    color: #333333;
    margin-bottom: 8px;
}

.auth-container .auth-form-container .auth-form .form-group .form-control {
    padding: 5px 6px;
    font-size: 14px;
    color: #333333;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

.btn-primary {
    width: 100%;
    padding: 5px 10px;
    background-color: #4f46e5;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #4338ca;
}

/* Footer Text */
.auth-container .auth-form-container .auth-footer-text {
    text-align: center;
    font-size: 14px;
    color: #666666;
    margin-top: 20px;
}

/* Links */
.auth-container .auth-form-container .auth-footer-text .link {
    font-weight: 600;
    color: #4f46e5;
    text-decoration: none;
}

.auth-container .auth-form-container .auth-footer-text .link:hover {
    color: #4338ca;
}

.home-container .header-container {
    display: flex;
    justify-content: space-between;
}

.admin-container .header-container {
    display: flex;
    justify-content: space-between;
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.book-grid .book-container {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: left;
    transition: transform 0.3s;
}

.book-grid .book-container:hover {
    transform: scale(1.02);
}

.book-grid .book-container .book-image {
    width: 100%;
    height: 200px;
    border-radius: 4px;
}

.book-grid .book-container .book-details {
    margin-top: 10px;
}

.book-grid .book-container .book-title {
    font-weight: bold;
    color: #333;
}

.book-grid .book-container .book-author {
    color: #666;
}

.list-book-container{
    margin-top: 50px;
}

.list-book-container h3{
    margin: 25px 0;
}

.loan-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.loan-grid .loan-container {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: left;
    transition: transform 0.3s;
}

.loan-grid .loan-container:hover {
    transform: scale(1.02);
}

.loan-grid .loan-container strong {
    display: inline-block;
    margin-bottom: 5px;
}

.loan-container span {
    display: block;
    margin-bottom: 3px;
}
